# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salida de compilación TypeScript
dist/*.js
dist/*.js.map
dist/*.d.ts

# Entorno / editores
.env
.DS_Store
.vscode/
.idea/
